<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close"
                        ng-click="vm.cancel()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Loan</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control"
                               ng-model="vm.loan.name">
                    </div>
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="number" class="form-control"
                               ng-model="vm.loan.amount">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="vm.save()">Save</button>
            </div>
        </div>
    </div>
</div>